/* Imported Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* Background Gradient: https://cssgradient.io/ */
    background: rgb(214,211,211);
    background: linear-gradient(180deg, rgba(214,211,211,1) 50%, rgba(146,142,142,1) 100%);
    background-attachment: fixed;
    height: 100vh;
    text-align: center;
    font-family: 'Montserrat', sans-serif; /* Fallback font is sans-serif */
    font-weight: 400; /* Specify the desired font weight */
}

#logo {
    padding-top: 20px;
    padding-bottom: 10px;
}

    /* Hero goes here */
h1 {
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 45px;
    text-shadow: 2px 2px 4px #000000;
}

header #hero {
    height: 200px;
    width: 100%;
    background: url("../images/ny_hero.png") no-repeat center, center/cover;
}

#header-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    position: center;
    padding-top: 80px;
    min-height: 200px;
}

    /* Navbar goes here */
    .navbar {
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 600;
        color: #ffffff;
        background-color: #575555;
        padding:10px;
        justify-content: space-evenly;
    }


#presentation p {
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px;
    padding-top: 20px;
}